*, * > * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: rgb(24, 26, 43);
  font-family: Montserrat;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  /* box-sizing: border-box; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
